<div class="article-container">
  <div class="article-header">
    <button class="back-button" routerLink="/articles">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ article.title }}</h1>
  </div>

  <div class="article-meta">
    <span>{{ article.date }}</span>
    <span>{{ article.authorId }}</span>
    <span>{{ article.themeId }}</span>
  </div>
  <p class="article-content">{{ article.content }}</p>

  <hr />

  <h2>Commentaires</h2>
  <div class="comments-section">
    <div *ngFor="let comment of article.commentaries" class="comment">
      <div class="comment-username">{{ comment.author }}</div>
      <div class="comment-content">{{ comment.content }}</div>
    </div>
  </div>

  <div class="add-comment">
    <textarea
      [(ngModel)]="newComment"
      placeholder="Écrire un commentaire..."
    ></textarea>
    <button class="send-button" (click)="addComment()">
      <img src="assets/images/icon _send.svg" alt="Send" />
    </button>
  </div>
</div>
