<div class="articles-container">
  <div class="actions">
    <button class="create-article-button" (click)="createArticle()">
      Créer un article
    </button>
    <button class="toggle-sort-button" (click)="toggleSortOrder()">
      Trier par
      <mat-icon *ngIf="isDescending">arrow_downward</mat-icon>
      <mat-icon *ngIf="!isDescending">arrow_upward</mat-icon>
    </button>
  </div>

  <div class="articles-grid">
    <div *ngFor="let article of articles" class="article-card">
      <h2>
        <a [routerLink]="['/article', article.id]">{{ article.title }}</a>
      </h2>
      <div class="article-meta">
        <div>{{ article.createdAt }}</div>
        <div>{{ article.author }}</div>
      </div>
      <p class="article-content">
        {{ article.content }}
      </p>
    </div>
  </div>
</div>
