<div class="articles-container">
  <button class="create-article-button" (click)="createArticle()">
    Créer un article
  </button>

  <div class="articles-grid">
    <div *ngFor="let article of articles" class="article-card">
      <h2>
        <a [routerLink]="['/article', article.id]">{{ article.title }}</a>
      </h2>
      <div class="article-meta">
        <div>{{ article.createdAt }}</div>
        <div>{{ article.author }}</div>
      </div>
      <p class="article-content">
        {{ article.content }}
      </p>
    </div>
  </div>
</div>
