<div class="auth-container">
  <button mat-icon-button class="back-btn" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h2>Se connecter</h2>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>E-mail ou nom d'utilisateur</mat-label>
      <input matInput type="text" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" class="auth-btn">Se connecter</button>
  </form>
</div>
