<div class="auth-container">
  <button mat-icon-button class="back-btn" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h2>Se connecter</h2>

  <form>
    <div class="label-on-top-of-form-field">
      <label for="username">E-mail ou nom d'utilisateur</label>
      <mat-form-field appearance="outline">
        <input matInput type="text" id="username" required />
      </mat-form-field>
    </div>

    <div class="label-on-top-of-form-field">
      <label for="mdp">Mot de passe</label>
      <mat-form-field appearance="outline">
        <input matInput type="password" id="mdp" required />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="auth-btn">
      Se connecter
    </button>
  </form>
</div>
