<div class="register-container">
  <button mat-icon-button class="back-button" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <form class="register-form">
    <h2>Inscription</h2>

    <div class="label-on-top-of-form-field">
      <label for="username">Nom d'utilisateur</label>
      <mat-form-field appearance="outline">
        <input matInput id="username" type="text" required />
      </mat-form-field>
    </div>

    <div class="label-on-top-of-form-field">
      <label for="emailAddress">Adresse e-mail</label>
      <mat-form-field appearance="outline">
        <input matInput id="emailAddress" type="email" required />
      </mat-form-field>
    </div>

    <div class="label-on-top-of-form-field">
      <label for="mdp">Mot de passe</label>
      <mat-form-field appearance="outline">
        <input matInput id="mdp" type="password" required />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="register-button">
      S'inscrire
    </button>
  </form>
</div>
