.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.logo {
  width: 412px;
  height: auto;
  margin-bottom: 44px;
}

.button-group {
  display: flex;
  gap: 80px;
  margin-right: 30px;
}

button {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: none;
  box-shadow: none;
}


button.mat-flat-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

button.mat-flat-button:hover {
  background-color: #f0f0f0;
}

button.mat-raised-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

button.mat-raised-button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .landing-container {
    justify-content: flex-start;
    padding-top: 80px;
  }

  .logo {
    width: 225px;
    height: 130px;
    margin-bottom: 40px;
  }

  .button-group {
    flex-direction: column;
    gap: 30px;
    margin-right: 0;
  }
}