header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
  border-bottom: 0.0625rem solid black;

  img[src="/assets/images/logo_p6.png"] {
    width: 8.75rem;
    height: auto;
    max-width: 100%;
  }

  @media (max-width: 31.25rem) {
    img[src="/assets/images/logo_p6.png"] {
      width: 7.5rem;
      height: auto;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:nth-child(1) {
  color: #a40f0f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0;
}

header nav a:nth-child(2),
header nav a:nth-child(3) {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0;
}

header nav a.router-link-active {
  color: #6c5ccf;
}

a {
  cursor: pointer;
}

header nav img.user-icon {
  text-decoration: none;
  cursor: pointer;
}

.drawer-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;
}

mat-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 15.625rem;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 1.5rem;
  z-index: 1001;
  pointer-events: auto;
}

mat-drawer-container.mat-drawer-opened {
  pointer-events: auto;
}

mat-drawer nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  align-items: flex-end;
}

mat-drawer nav a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  width: 100%;
}

mat-drawer nav a:first-child {
  padding-top: 1.875rem;
  padding-right: 1rem;
}

mat-drawer nav a:nth-child(2) {
  padding-right: 1rem;
}

mat-drawer nav a:nth-child(3) {
  padding-right: 1rem;
}

mat-drawer nav a:last-child {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
