<header>
  <img src="/assets/images/logo_p6.png" alt="logo" />

  <!-- small screens -->
  <!-- hamburger -->
  <button *ngIf="isSmallScreen" mat-icon-button (click)="toggleSidePanel()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- side panel -->
  <mat-drawer-container
    class="drawer-container"
    *ngIf="isSmallScreen"
    (backdropClick)="onBackdropClick()"
  >
    <mat-drawer #drawer mode="over" position="end">
      <nav>
        <a (click)="logout(); drawer.close()">Se déconnecter</a>
        <a routerLink="/articles" routerLinkActive="router-link-active" (click)="drawer.close()">Articles</a>
        <a routerLink="/themes" routerLinkActive="router-link-active" (click)="drawer.close()">Thèmes</a>
        <a routerLink="/profile" routerLinkActive="router-link-active">
          <img
            [src]="isProfileActive ? '/assets/images/user_purple.svg' : '/assets/images/user.svg'"
            alt="User"
            class="user-icon"
          />
        </a>
      </nav>
    </mat-drawer>
  </mat-drawer-container>

  <!-- large screens -->
  <nav *ngIf="!isSmallScreen">
    <a (click)="logout()">Se déconnecter</a>
    <a routerLink="/articles" routerLinkActive="router-link-active">Articles</a>
    <a routerLink="/themes" routerLinkActive="router-link-active">Thèmes</a>
    <a routerLink="/profile" routerLinkActive="router-link-active" #profileLink="routerLinkActive">
      <img
        [src]="profileLink.isActive ? '/assets/images/user_purple.svg' : '/assets/images/user.svg'"
        alt="User"
        class="user-icon"
      />
    </a>
  </nav>
</header>