header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid black;

  img[src="/assets/logo_p6.png"] {
    width: 140px;
    height: auto;
    max-width: 100%;
  }

  @media (max-width: 600px) {
    img[src="/assets/logo_p6.png"] {
      width: 120px;
      height: auto;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:nth-child(1) {
  color: #A40F0F;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

header nav a:nth-child(2),
header nav a:nth-child(3) {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

header nav a.router-link-active {
  color: #6C5CCF;
}

header nav img.user-icon {
  text-decoration: none;
  cursor: pointer;
}

.drawer-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;
}

mat-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 24px;
  z-index: 1001;
  pointer-events: auto;
}

mat-drawer-container.mat-drawer-opened {
  pointer-events: auto;
}

mat-drawer nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  align-items: flex-end;

}

mat-drawer nav a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
  width: 100%;
}

mat-drawer nav a:first-child {
  padding-top: 30px;
  padding-right: 16px;
}

mat-drawer nav a:nth-child(2) {
  padding-right: 16px;
}

mat-drawer nav a:nth-child(3) {
  padding-right: 16px;
}

mat-drawer nav a:last-child {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}