<header>
  <img src="/assets/images/logo_p6.png" alt="logo" />

  <!-- small screens -->
  <!-- hamburger -->
  <button *ngIf="isSmallScreen" mat-icon-button (click)="toggleSidePanel()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- side panel -->
  <mat-drawer-container
    class="drawer-container"
    *ngIf="isSmallScreen"
    (backdropClick)="onBackdropClick()"
  >
    <mat-drawer #drawer mode="over" position="end">
      <nav>
        <a routerLink="/logout" (click)="drawer.close()">Se déconnecter</a>
        <a routerLink="/articles" (click)="drawer.close()">Articles</a>
        <a routerLink="/themes" (click)="drawer.close()">Thèmes</a>
        <a routerLink="/user">
          <img
            src="/assets/images/user.svg"
            alt="User"
            class="user-icon"
            routerLink="/user"
          />
        </a>
      </nav>
    </mat-drawer>
  </mat-drawer-container>

  <!-- large screens -->
  <nav *ngIf="!isSmallScreen">
    <a routerLink="/logout">Se déconnecter</a>
    <a routerLink="/articles">Articles</a>
    <a routerLink="/themes">Thèmes</a>
    <a routerLink="/user">
      <img
        src="/assets/images/user.svg"
        alt="User"
        class="user-icon"
        routerLink="/user"
      />
    </a>
  </nav>
</header>
